# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/
.venv/

# MLflow
mlruns/
mlflow.db

# Data
data/raw/*
data/processed/*

# Models
artifacts/

# Notebook
.ipynb_checkpoints

# VSCode
.vscode/

# Mac
.DS_Store

# Environment
.env